{% extends "layout.html" %}

{% block title %}
Fantasy Buddy
{% endblock %}

{% block heading %}
<div class="row justify-content-center">Welcome to Fantasy Buddy
  {% endblock %}</div>

{% block body %}
<blockquote class="blockquote text-center">
  <p class="mb-0">Having trouble drafting players and finding "hidden gems"? Fantasy Buddy will help you draft and trade and dominate your league
    by providing the visual statistics for the player you search for. Remember, preparations make champions!</p>
</blockquote>

{% endblock %}