{% extends "layout.html" %}

{% block title %}
Fantasy Buddy
{% endblock %}

{% block heading %}
<div class="row justify-content-center">Welcome to Fantasy Buddy
  {% endblock %}</div>

{% block body %}

<div class="row"> <!-- First row/ Title row-->
  <div class="col-md 12"> <!-- i.e. takes up whole row-->
    <div class="text-center"> <!-- To center title-->
      <h1 class="display-3">Fantasy Buddy</h1> 
    </div>
  </div>
</div>

<div class="row"> <!-- Image row-->
  <div class = "col-md-6">
    <img src="static\images\photo-1544919982-b61976f0ba43.jpg" class="img-fluid" alt=""/>
  </div>
  <div class = "col-md-6">
    <img src="static\images\pexels-photo-5198252.jpeg" class="img-fluid" alt=""/>
  </div>
</div>

<div class="row"> <!-- Description row-->

  <div class="col-md 6">  <!--What is Fantasy Basketball? -->
    <div class="text-center">
      <p class="lead">
        Fantasy Basketball is a fantasy sport that you and your friends can play online right now. The goal is to create your own team by drafting players
        that you believe will do great on the stat sheet. Pick ones you think will rack up high points, assists, rebounds, and few turnovers. To learn more
        about Fantasy Basketball and which websites provide this service, click the link below.
      </p>
    </div>
  </div>
  <div class="col-md 6"> 
    <div class="text-center"> <!--Get to know the players -->
      <p class="lead">
        Having a hard time completing your lineup? Fantasy Buddy assists users in creating their team in an 
        interactive and insightful way using data visualisation. Search a player you wish to draft and see how they perform against the 
        league's highest recorded statistic for each category.
      </p>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md 6"> 
    <div class="text-center">
      <a class="btn btn-info" href = "https://en.wikipedia.org/wiki/Fantasy_basketball"  role="button" data-mdb-ripple-color="dark">LEARN MORE</a>
    </div>
  </div>

  <div class="col-md 6"> 
    <div class="text-center">
      <a class="btn btn-info" href = "/search"  role="button" data-mdb-ripple-color="dark">GET STARTED</a>
    </div>
  </div>

</div>


{% endblock %}