{% extends "layout.html" %}

{% block title %}
The Nook
{% endblock %}

{% block heading %}
{% endblock %}

{% block body %}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ image }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{fname}}</h5>
      <p class="card-text">Lorem ipsum</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Foobar</li>
      <li class="list-group-item">Foofoo</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
{% endblock %}