{%extends "layout.html"%}

{%block title%}
Fantasy Buddy
{%endblock%}

{%block body %}
<div class="border d-flex align-items-center justify-content-center"
style="height: 50%;"">
    <div class="card" style="width: 18rem">
        <div class = "text-center">
            <img
            src= {{ image }}
            class="img-fluid rounded-circle"
            alt="..."
            style="width: 90px;"
            />
        </div>
        <div class="card-body">
        <h5 class="card-title">{{firstName}}</h5>
        <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
        </p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">{{playerID}}</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
        </div>
    </div>

</div>
<!-- {{ firstName }}
{{ playerID }}
{{ points }} -->

{%endblock%}
