{%extends "layout.html"%}

{%block title%}
Fantasy Buddy
{%endblock%}

{%block body %}

<!-- -->
<div class="border d-flex align-items-center justify-content-center"  
style="height: 50%;"">                                              <!-- Main Div-->
    <div class="card" style="width: 18rem"> <!-- Card Div -->
        <div class = "text-center"> <!-- Center player's image-->
            <img 
            src= {{ image }}
            class="img-fluid rounded-circle"
            alt="..."
            style="width: 90px;"
            />
        </div>
        <div class="card-body">
        <h5 class="card-title">{{firstName}} {{ lastName }} </h5>
        <p class="card-text">
            Information about this player
        </p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item"><p class="h6">Team: {{team}}</p></li>
        <li class="list-group-item"><p class="h6">Position: {{position}}</p></li>
        </ul>
        <div class="card-body">
            <div class = "text-center"> <a href="/search" class="card-link">Search for another player</a></div>
        </div>
    </div>

</div>


{%endblock%}
