{%extends "layout.html"%}

{%block title%}
Fantasy Buddy
{%endblock%}

{%block body %}

<!-- -->
<div class="border d-flex align-items-center justify-content-center"  
style="height: 50%;">                                              <!-- Main Div-->
    <div class="card" style="width: 18rem"> <!-- Card Div -->
        <div class = "text-center"> <!-- Center player's image-->
            <img 
            src= {{ image }}
            class="img-fluid rounded-circle"
            alt="..."
            style="width: 90px;"
            />
        </div>
        <div class="card-body">
        <h5 class="card-title">{{firstName}} {{ lastName }} </h5>
        <p class="card-text">
            Information about this player
        </p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item"><p class="h6">Team: {{team}}</p></li>
        <li class="list-group-item"><p class="h6">Position: {{position}}</p></li>
        <li class="list-group-item"><p class="h6">PPG: {{ppg}}</p></li>
        </ul>
        <div class="card-body">
            <div class = "text-center"> <a href="/search" class="card-link">Search for another player</a></div>
        </div>
    </div>
</div>

<!--Canvas for chartJS-->
<!-- <canvas id="barChart" width="900" height="400"></canvas>  -->

<!-- ChartJS script
<script>
var ctx = document.getElementById('barChart').getContext('2d') // Provide ChartJS the 2d context of the canvas (where it can draw within the canvas)
var barChart = new Chart(ctx, {
    type: "bar",
    data: { // set of labels and data points 
        labels: {{ labels | safe }} // because what gets returned is a string representing the list of strings
        datasets: [
            {
                label: "Data"
                data: {{ values | safe }}
                backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
            }
        ]
    },
    options: {
        responsive: false
    }
});
</script>

</div> -->

{%endblock%}
