{% extends "layout.html" %}

{% block title %}
The Nook
{% endblock %}

{% block heading %}
{% endblock %}

{% block body %}
<!-- Search form -->
<!-- Search id = "query" -->
<div class="container">
  <div class="row">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="playerFirstName">First Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g. LeBron">
          </div>
          </form>
      </div>
      <div class="col-md-6">
        <form>
        <div class="form-group">
          <label for="playerLastName">Last Name</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="e.g. James">
        </div>
        </form>
      </div>
  </div>
</div>
{% endblock %}